<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jys.smartbudget.mapper.BatchBudgetMapper">

    <insert id="insertBatchBudgetFailHistory" parameterType="com.jys.smartbudget.dto.BatchBudgetFailHistory">
        INSERT INTO batch_budget_fail_history (
            job_name,
            user_id,
            year,
            month,
            category,
            reason
        ) VALUES (
            #{jobName},
            #{userId},
            #{year},
            #{month},
            #{category},
            #{reason}
        )
    </insert>

    <insert id="insertBatchJobSummary" parameterType="com.jys.smartbudget.dto.BatchJobSummary">
        INSERT INTO batch_job_summary (
            job_name,
            base_year,
            base_month,
            target_year,
            target_month,
            success_count,
            skip_count,
            fail_count
        ) VALUES (
            #{jobName},
            #{baseYear},
            #{baseMonth},
            #{targetYear},
            #{targetMonth},
            #{successCount},
            #{skipCount},
            #{failCount}
        )
    </insert>


</mapper>
