<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jys.smartbudget.mapper.BudgetMapper">

    <resultMap id="budgetMap" type="com.jys.smartbudget.dto.BudgetDTO">
        <id property="id" column="id"/>
        <result property="amount" column="amount"/>
        <result property="year" column="year"/>
        <result property="month" column="month"/>
        <result property="description" column="description"/>
        <result property="userId" column="user_id"/>
        <result property="version" column="version"/>

        <association property="category" javaType="com.jys.smartbudget.dto.CategoryDTO">
            <id property="code" column="code"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <insert id="insertBudget" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO budget (user_id, category_code, amount, year, month, description)
        VALUES (#{userId}, #{category.code}, #{amount}, #{year}, #{month}, #{description})
    </insert>

    <select id="selectBudgetsByConditionWithPaging" resultMap="budgetMap">
        SELECT 
            b.id, 
            b.amount, 
            b.year, 
            b.month, 
            b.description,
            b.user_id,
            b.version,
            c.code,  
            c.name
        FROM budget b
        LEFT JOIN category c ON b.category_code = c.code
        WHERE b.user_id = #{userId}
        <if test="category != null and category.code != null and category.code != ''">
            AND b.category_code = #{category.code}
        </if>
        <if test="year != null">
            AND year = #{year}
        </if>
        <if test="month != null">
            AND month = #{month}
        </if>
        ORDER BY b.month DESC
    </select>

    <update id="updateBudget">
        UPDATE budget
        SET category_code = #{category.code},
            amount = #{amount},
            year = #{year},
            month = #{month},
            description = #{description},
            version = version + 1
        WHERE id = #{id}
          AND user_id = #{userId}
          AND version = #{version}
    </update>

    <delete id="deleteBudget">
        DELETE FROM budget
        WHERE id = #{id}
          AND user_id = #{userId}
    </delete>

    <select id="existsByYearMonthCategory">
    SELECT COUNT(*) FROM budget WHERE user_id = #{userId} AND year=#{year} AND month=#{month} AND category_code=#{category.code}
    </select>

    <!-- //Optimistic Lock 테스트용  -->
    <select id="selectById" resultMap="budgetMap">
        SELECT 
            b.id,
            b.user_id,
            b.amount,
            b.year,
            b.month,
            b.description,
            b.version,
            c.code,
            c.name
        FROM budget b
        LEFT JOIN category c ON b.category_code = c.code
        WHERE b.id = #{id}
    </select>

</mapper>
