<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jys.smartbudget.mapper.ExpenseMapper">

    <select id="getExpenses" resultType="com.jys.smartbudget.dto.ExpenseDTO">
        SELECT *
        FROM expense
        WHERE user_id = #{userId}
        AND account_number = #{accountNumber}
        AND transacted_at BETWEEN #{startTime} AND #{endTime}
        <if test="lastTimestamp != null and lastId != null">
            AND (transacted_at <![CDATA[<]]> #{lastTimestamp} 
                OR (transacted_at = #{lastTimestamp} AND id <![CDATA[<]]> #{lastId}))
        </if>
        ORDER BY transacted_at DESC, id DESC
        <if test="size != null">
            LIMIT #{size}
        </if>
    </select>

    <!-- 지출 등록 -->
    <insert id="insertExpense" parameterType="com.jys.smartbudget.dto.ExpenseDTO">
        INSERT INTO expense (
            user_id, account_number, amount, merchant_name, approval_no, transacted_at
        ) VALUES (
            #{userId}, #{accountNumber}, #{amount}, #{merchantName}, #{approvalNo}, #{transactedAt}
            )
    </insert>

    <select id="findByApprovalNo" parameterType="string" resultType="com.jys.smartbudget.dto.ExpenseDTO">
        SELECT *
        FROM expense
        WHERE approval_no = #{approvalNo}
    </select>

    <select id="findExpensesByCondition" resultType="com.jys.smartbudget.dto.ExpenseDTO">
        SELECT *
        FROM expense
        WHERE account_number = #{accountNo}
        AND transacted_at BETWEEN #{startDateTime} AND #{endDateTime}
    </select>


    <update id="updateStatusVerified" parameterType="string">
        UPDATE expense
        SET status = 'VERIFIED'
        WHERE UPPER(TRIM(approval_no)) = UPPER(TRIM(#{approvalNo}))
    </update>

</mapper>
