<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jys.smartbudget.mapper.ReconcileLogMapper">

    <insert id="insertErrorLog" parameterType="com.jys.smartbudget.dto.ReconciliationErrorDTO">
        INSERT INTO reconciliation_error_log (
            approval_no,
            error_type,
            bank_amount,
            cms_amount,
            detected_at
        ) VALUES (
            #{approvalNo},
            #{errorType},
            #{bankAmount},
            #{cmsAmount},
            NOW()
        )
    </insert>

</mapper>