spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/smartbudget?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 3152

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  
  data:
    redis:
      host: localhost
      port: 6379


server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always


logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.http.converter: DEBUG


mybatis:
  mapper-locations: classpath*:mappers/*.xml
  type-aliases-package: com.jys.smartbudget.dto
  configuration:
    map-underscore-to-camel-case: true

jwt:
  # 환경변수에서 읽음, 없으면 JwtKeyConfig에서 에러발생
  secret: ${JWT_SECRET}



